node_modules
dist
.turbo
**/.next/
**/.medusa/
**/.terraform/
**/next-env.d.ts
**/test-results/
**/playwright-report/
pnpm-lock.yaml
packages/contracts/src/generated
packages/events/src/generated
docs/plan
docs/**
